{% extends "base.html" %}
{% load static %}
{% block content %}

<center><img src="{% static 'about.png' %}" alt="moses" class="card-img-top"></center>
<br>
<div class="container"><center>
<p><strong><div><h2>LEARNING STYLES AND STRATEGIES</h2></div></strong></p></center>
    <div class="col">
<p>The Felder-Silverman model is a model designed to help both students and teachers in which students can understand their individual learning styles, which can then help them study more effectively. It can also help teachers deliver material in ways that appeal to the varied styles of learning present in their students.</p>
<p>The Felder-Silverman model is based on the notion that students have preferences in terms of the way they receive and process information. The model presents different dimensions that are indicative of learning preferences. Let's take a closer look at these dimensions.</p>
<div><h4>ACTIVE AND REFLECTIVE LEARNERS</h4></div>
        <ul>
            <list><p>•	Active learners tend to retain and understand information best by doing something active with it—discussing or applying it or explaining it to others. Reflective learners prefer to think about it quietly first.</p></list>
            <list><p>•	“Let’s try it out and see how it works” is an active learner’s phrase; “Let’s think it through first” is the reflective learner’s response.</p></list>
            <p><list>•	Active learners tend to like group work more than reflective learners, who prefer working alone. </list></p>
            <list><p>•	Sitting through lectures without getting to do anything physical but take notes is hard for both learning types, but particularly hard for active learners</p></list>
        </ul>
        <div><h4>SENSING AND INTUITIVE LEARNERS</h4></div>
        <ul>
            <list><p>•	Sensing learners tend to like learning facts, intuitive learners often prefer discovering possibilities and relationships.</p></list>
             <list><p>•	Sensors often like solving problems by well-established methods and dislike complications and surprises; intuitors like innovation and dislike repetition. Sensors are more likely than intuitors to resent being tested on material that has not been explicitly covered in class.</p></list>
             <list><p>•	Sensors tend to be patient with details and good at memorizing facts and doing hands-on (laboratory) work; intuitors may be better at grasping new concepts and are often more comfortable than sensors with abstractions and mathematical formulations.</p></list>
             <list><p>•	Sensors tend to be more practical and careful than intuitors; intuitors tend to work faster and to be more innovative than sensors.</p></list>
             <list><p>•	Sensors don’t like courses that have no apparent connection to the real world; intuitors don’t like “plug-and-chug” courses that involve a lot of memorization and routine calculation</p></list>
        </ul>
         <div><h4>VISUAL AND VERBAL LEARNERS</h4></div>
        <ul>
            <list><p>•	Visual learners remember best what they see—pictures, diagrams, flow charts, time lines, films, and demonstrations. Verbal learners get more out of words—written and spoken explanations. Everyone learns more when information is presented both visually and verbally.</p></list>
            <list><p>•	In most college classes very, little visual information is presented: students mainly listen to lectures and read material written on chalkboards and in textbooks and handouts. Unfortunately, most people are visual learners, which means that most students do not get nearly as much as they would if more visual presentation were used in class. Good learners are capable of processing information presented either visually or verbally.</p></list>

        </ul>
        <div><h4>SEQUENTIAL AND GLOBAL LEARNERS</h4></div>
        <ul>
            <list><p>•	Sequential learners tend to gain understanding in linear steps, with each step following logically from the previous one. Global learners tend to learn in large jumps, absorbing material almost randomly without seeing connections, and then suddenly “getting it.”</p></list>
            <list><p>•	Sequential learners tend to follow logical stepwise paths in finding solutions; global learners may be able to solve complex problems quickly or put things together in novel ways once they have grasped the big picture, but they may have difficulty explaining how they did it.</p></list>
        </ul>
</div>
    <br>
    <br>
    <p><center><strong><div><h2>THE RESEARCHERS</h2></div></strong></center></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We, researchers from BSECE 4-4 of the Polytechnic University of the Philippines – Manila are conducting a thesis entitled “An Adaptive Learning System Utilizing Bayesian Network and Felder-Silverman Learning Style Model (FSLSM) for Science, Technology, Engineering and Mathematics (STEM) Learners.” This Zapdos Learning Management System (LMS) is intended to help students identify their strengths and conveying knowledge of deficiencies, as well as to maximize learning potential by utilizing learning styles and bayesian networks. </p>
    </div>

<!-- WALANG CONTAINER D2-->
    <div class="row d-flex justify-content-center">
<div class="card ml-2 mr-2 mt-2 mb-3"  style="border:1px black solid">
    <img class="mr-4 ml-4 mt-4 mb-4" src="{% static 'alcantara.png' %}" width="220">
    <div class="card-body"><center><p><h5>Alcantara, Richard P.</h5></p></center>
        <h6>09272436594</h6>
        <h6>alcantararichard95@gmail.com</h6>
    </div>
</div>
        <div class="card ml-2 mr-2 mt-2 mb-3" style="border:1px black solid">
    <img class="mr-4 ml-4 mt-4 mb-4" src="{% static 'barracas.png' %}" width="220">
    <div class="card-body"><center><p><h5>Barracas, Jon Bernard P.</h5></p></center>
        <h6>09270732654</h6>
        <h6>jonbarracas@gmail.com</h6>
    </div>
</div>
        <div class="card ml-2 mr-2 mt-2 mb-3" style="border:1px black solid">
    <img class="card-img-top mt-4 mb-4" src="{% static 'pdf.png' %}" height="230" >
    <div class="card-body"><center><p><h5>Manao, Joshua Miguel N.</h5></p></center>
        <h6>09289694653</h6>
        <h6>joshua.manao30@gmail.com</h6>
    </div>
</div>
        <div class="card ml-2 mr-2 mt-2 mb-3" style="border:1px black solid">
    <img class="card-img-top mt-4 mb-4" src="{% static 'pdf.png' %}" height="230">
    <div class="card-body"><center><p><h5>Yamongan, Jay S.</h5></p></center>
        <h6>09560282955</h6>
        <h6>jayyamongan@gmail.com</h6>
    </div>
</div>
</div>

{% endblock %}